.main-theme {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  overflow-x: hidden;

  header {
    height: 70px;
    border-bottom: 1px solid #151515;
  }

  main {
    flex: 1;
    padding: 0rem 1rem;
  }

  footer {
    display: block;
  }
}